<a href="https://colab.research.google.com/github/amoukrim/Python/blob/main/0506.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exervice1
def add_two_numbers(a, b):
    return a+b

print(add_two_numbers(3, 5))

8

In [ ]:
#Exervice 2
def greet(name):
  return f"Hello, {name}!"
print(greet(name = "Alice"))

Hello, Alice]!

In [ ]:
#Exervice 3
def check_even_odd(numero):
  if numero % 2 == 0:
        print("Even")
  else:
        print("Odd")


check_even_odd('7')

Odd

In [30]:
#Exervice 4
def sum_list(listenumbers):
  return sum(listenumbers)


print(sum_list([1, 2, 3, 4]))

10

In [47]:
#Exervice 5
def print_days():
    days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
    for day in days:
        print(day)
#2ème solution

In [50]:
#Exervice 5
#2ème solution
import calendar

def print_days():
    for day in calendar.day_name:
      print(day)
(print_days())

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [54]:
#Exervice 6
def check_sign(number):
  if number>0 :
    return f"Positive"
  elif number<0 :
    return f"Negative"
  else :
    return f"Zero"

check_sign(0)

'Zero'

In [58]:
#Exervice 7
def repeat_word(word,number):
  return word*number

repeat_word("Adil ",3)

'Adil Adil Adil '

In [63]:
#Exercises Functions - Intermediate
#Exercice 1
def find_largest(numbers):
    return max(numbers)
print(find_largest([9,4,8,6,2]))

9

In [67]:
#Exercises Functions - Intermediate
#Exercice 2
def check_letter(word, caracter):
    return caracter in word

print(check_letter("Adil","d"))

True

In [76]:
#Exercises Functions - Intermediate
#Exercice 3
resultat =0
def count_to_number(number):
    resultat = sum(range(number))
    return resultat

print(count_to_number(5))  # Output: 10

10